.song-search-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 10px;
}

#song-search {
  /* more styles poss for the song-search input */
  margin-top: 0px;
}

#song-dropdown {
  /* more styles poss for the song-dropdown select */
  margin-top: 0px;
}
