/* hint-table-styles.css */
.hint-table-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 200px; /* Adjust this value to move it down */
}

.hint-table-container h2 {
  padding :25px;
  color:white;
}

.hint-table-container table {
  display: none;
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.hint-table-container th, .hint-table-container td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  color: #555;
}

.hint-table-container th {
  background-color: #f2a154;
  color: #fff;
}

.hint-table-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

.hint-table-container button {
  background-color:lightblue;
  color: var(--hint-table-button-text);
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
}

.hint-table-container button:hover {
  background-color: var(--guess-button-hover-color);
}

