/* style.css */

:root {
  --primary-bg-color: #6e3d5a;
  --header-bg-color: plum;
  --header-shadow-color: #541e69;
  --text-icon-color: #371b47;
  --link-hover-color: #541e69;
  --boombox-bg-color: #0b1841;
  --boombox-border-color: #6dc3ce; 
  --play-button-bg-color: #5c071c;
  --play-button-text-color: #E6BCCD;
  --play-button-hover-bg-color: #410909;
  --guess-button-bg-color: #add8e6;
  --guess-text-color: #320238;
  --guess-button-hover-color:#5ac4e7;
  --cassette-color: #2a2a2a;
  --footer-bg-color: plum;
  --footer-text-color: #000;
  --win-page-bg-color: #371b47;
  --win-page-text-color: #fff;
  --win-page-border-color: #6e3d5a;
  --win-button-bg-color: #FF7D7D;
  --win-button-hover-bg-color: #b45959;
  --hidden-bg-color: #4caf50;
  --hidden-text-color: #1E3939;
  --tooltip-bg-color: #ac2c85;
  --tooltip-border-color: #e6a6a6;
  --label-color: #E2B7FD;
  --select-border-color: #30191f;
  --select-bg-color: #add8e6;
  --select-color: #371b47;
  --select-hover-bg-color: #5ac4e7;
  --select-hover-border-color: #cba7e0;
  --hint-table-button-text: #320238;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: var(--primary-bg-color);
}

header {
  top: 10px;
  position: fixed;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--header-bg-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
header::before {
  top: 0;
}

header::after {
  bottom: 0;
} 

header::before,
header::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--header-shadow-color);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 6em;
  font-family: "Jolly Lodger", system-ui;
  padding-left: 15px;
  background: linear-gradient(0deg, #9c0202, #0000ff);
  background-clip: text;
  color: transparent;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 16px;
  font-weight: bold;
  right: 50px;
  top: 20px;
}

nav ul li button {
  display: inline-block;
  padding: 0px;
  margin: 0px;
  border: 0;
  cursor: pointer;
  color: var(--text-icon-color);
  background-color: var(--header-bg-color);
}

nav ul li button span.material-symbols-outlined {
  content: "\e88e";
  content: "\f20c";
  content: "\ea19";
}

nav a {
  text-decoration: none;
  margin: 15px;
  font-family: "Material Symbols Outlined";
  color: var(--text-color);
}

nav a:hover {
  text-decoration: underline;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

#tooltipContainer {
  position: fixed;
  display: none;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: fixed;
  border: 1px solid var(--tooltip-border-color);
  background-color:var(--tooltip-bg-color);
}

#tooltipContainer button#closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: var(--win-page-text-color);
}

label {
  font-size: 30px;
  margin-right: 10px;
  padding: 1px ;
  color: var(--label-color);
}
#scorecard{
  width: 520px;
  height: 50px;
  margin: 150px 0 150px 0 ;
  position: static;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
  color: var(--header-bg-color);
  text-justify: center;
  text-align: center;
  -webkit-text-stroke: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

label.volume-label {
  font-size: 15px;
  margin-right: 20px;
  color: var(--label-color);
}

select {
  font-size: 15px;
  padding: 5px;
  border: 1px solid var(--select-border-color);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: var(--select-bg-color);
  color: var(--select-color);
}

select:hover {
  background-color:var(--select-hover-bg-color);
  border-color:var(--select-hover-border-color);
}

#boombox {
  width: 25vw;
  height: 125px;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--boombox-bg-color);
  border: 2px solid var(--boombox-border-color);
  margin: 0 0 350px 0 ;
}
@media screen and (max-width: 570px) {
  #boombox {
    max-width: 600px;
  }
}

#boombox .boombox-player button#play {
  font-family: 'Space Mono', monospace;
  font-weight: bolder;
  letter-spacing: 3px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: solid;
  border-radius: 5px;
  margin: 15px;
  background-color: var(--play-button-bg-color);
  color: var(--play-button-text-color);
}

#boombox .boombox-player button#play:hover {
  background-color: var(--play-button-hover-bg-color);
}

#originalContent {
  flex-direction: column;
  align-items: center;
}

#originalContent #guess {
  font-weight: bold;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px; 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 550px;
  padding: 10px 15px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--guess-button-bg-color);
  color: var(--guess-text-color);
}

#originalContent #guess:hover {
  background-color: var(--guess-button-hover-color);
}

.cassette-deck {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--cassette-color);
}

footer {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100vw;
  height: 40px;
  justify-content: flex-end;
  color: var(--footer-text-color);
  background-color: var(--footer-bg-color);
}

#copyright {
  margin-right: 10px;
  padding-top: 10px;
}

#winPage,
#gameOverPage {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  background-color: var(--win-page-bg-color);
  color: var(--win-page-text-color);
  border: 2px solid var(--win-page-border-color);
}

#winPage h1,
#gameOverPage h1 {
  background: linear-gradient(0deg, #0ad614, #FF7D7D);
  background-clip: text;
  color: transparent;
}

#winPage button,
#gameOverPage button {
  font-family: 'Monoton', cursive;
  padding: 10px 15px;
  font-size: 19px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  background-color: var(--win-button-bg-color);
  color: var(--hidden-text-color);
}

#winPage button:hover,
#gameOverPage button:hover {
  background-color: var(--win-button-hover-bg-color);
}

.hidden {
  display: none;
}

/* test button */
button#testWinButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

/* test button on hover */
button#testWinButton:hover {
  background-color: #3e8b42;
}
/* test button */
button#testGoButton {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  position: fixed;
  top: 10px;
  right: 150px;
  z-index: 1000;
}
/* test button on hover */
button#testGoButton:hover {
  background-color: #3e8b42;
}
